body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/Background.jpg);
    background-size:cover;
}
.topContainer{
    background-color: rgb(56, 56, 106);
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid grey;
}
h1 {
    display: flex;
    justify-content: center;
}
.inputOutput {
    display: flex;
    justify-content: center;
}
.calcButtons{
    display:flex;
    justify-content: space-between;
    width: 230px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    margin: 4px;
}
button {
    height:40px;
    width:55px;
}
.bottomButtons {
    display:flex;
    flex-direction: column;
}
#buttSub{
    height:20px;
    margin-bottom: 0px;
}
#buttClear{
    height:20px;
    margin-top:0px;
}